@inject SignInManager<WaveUser> SignInManager
@inject IViewLocalizer Localizer
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @(ViewContext.ViewData["ActivePage"]?.ToString() == "Index" ? "active" : "")" id="profile" asp-page="./Index">@Localizer["Profile"]</a></li>
    <li class="nav-item"><a class="nav-link @(ViewContext.ViewData["ActivePage"]?.ToString() == "Email" ? "active" : "")" id="email" asp-page="./Email">@Localizer["Email"]</a></li>
    <li class="nav-item"><a class="nav-link @(ViewContext.ViewData["ActivePage"]?.ToString() == "ChangePassword" ? "active" : "")" id="change-password" asp-page="./ChangePassword">@Localizer["Password"]</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @(ViewContext.ViewData["ActivePage"]?.ToString() == "ExternalLogins" ? "active" : "")" asp-page="./ExternalLogins">@Localizer["ExternalLogins"]</a></li>
    }
    <li class="nav-item"><a class="nav-link @(ViewContext.ViewData["ActivePage"]?.ToString() == "TwoFactorAuthentication" ? "active" : "")" id="two-factor" asp-page="./TwoFactorAuthentication">@Localizer["TwoFactorAuthentication"]</a></li>
    <li class="nav-item"><a class="nav-link @(ViewContext.ViewData["ActivePage"]?.ToString() == "PersonalData" ? "active" : "")" id="personal-data" asp-page="./PersonalData">@Localizer["PersonalData"]</a></li>
</ul>
