@inject IViewLocalizer Localizer
@model IEnumerable<Optiviera.Models.Ticket>

@{
    ViewData["Title"] = Localizer["Tickets"];
}

<div>
    <div classxfont-weighteighteightgetainer-fluid">
        <div class="row gy-2">
            <div class="col-md-12 col">
                <div class="row col-cols-2 mt-5">
                    <h1>@Localizer["AllTickets"]</h1>
                        <div style='text-align:right'>
                            <a asp-action="Create"><button type="button" class="btn btn-primary text-muted"><b>@Localizer["CreateNewTicket"]</b></button></a>
                            <hr style="width:0%; text-align:left;margin-left:0">
                            <h5>@Localizer["TotalTickets"]: @Model.Count()</h5>
                        </div>

<table class="table text-muted">
    <thead>
        <tr  class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Localizer["FirstName"]
            </th>
            <th>
                @Localizer["LastName"]
            </th>
            <th>
                @Localizer["Address"]
            </th>
            <th>
                @Localizer["Updated"]
            </th>
            <th>
                @Localizer["Schedule"]
            </th>
            <th>
                @Localizer["Archived"]
            </th>
            <th>
                @Localizer["Priority"]
            </th>
            <th>
                @Localizer["Technician"]
            </th>
            <th>
                @Localizer["Support"]
            </th>
            <th>
                @Localizer["Status"]
            </th>
            <th>@Localizer["Actions"]</th>
        </tr>
    </thead>
<tbody>
        
@foreach (var item in Model) {
 
        <tr>
        <td>
        @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.CFirstName)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.CLastName)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.CAddress)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.Schedule)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.IsArchived)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.Priority.Name)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.Technician.FullName)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.Support.FullName)
        </td>
        <td>
            <span class="badge @(item.Status == Optiviera.Models.Enums.TicketStatus.Open ? "bg-primary" : 
                                         item.Status == Optiviera.Models.Enums.TicketStatus.InProgress ? "bg-warning" : 
                                         item.Status == Optiviera.Models.Enums.TicketStatus.Completed ? "bg-success" : "bg-secondary")">
                @Html.DisplayFor(modelItem => item.Status)
            </span>
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a> |
            <a asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a> |
            @if(@item.IsArchived)
            {
                <a asp-action="Restore" asp-route-id="@item.Id">@Localizer["Restore"]</a>
            }
            else
            {
                <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Archive"]</a>
            }
        </td>
     </tr>
        }
    </tbody>
  </table>
